/* 
Agregando estilos:

1. Posicionamiento            --> static, absolute, relative, fixedos
2. Modelo de caja             --> margin, border, padding, content
3. Tipografía                 --> tipos, tamaños de fuente, etc
4. Visuales                   --> box-shadow, border-radius, gradient, etc
5. Otros                      --> reglas CSS y más
*/


/* archivo base */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{

    --text-black: #010101;
    --green-black: ##07070A;
    --text-grey-black:#353535;    
    --text-color: var(--text-black);
    --text-color-secundary: var(--text-grey-black);
    /* Colores generales  */
/*     --background-black: #12121A; */
/*     --background-black: var(--just-white);
    --off-white: #DBDBDB;*/
    --just-white: #fff; 
    --greengh: #3CC74A;
    /* --action: rgb(255, 192, 203); */
    --action:var(--greengh);

    --swiper-theme-color: var(--action) !important;



    /* Fuentes y tamaños */
    --font-poppins:'Montserrat', sans-serif;

    --bigtitles: 7.2rem;
    --titles: 3.6rem;
    --all-18: 1.8rem;
    --paragraph: 1.4rem;

    --card-title: 1.6rem;
    --card-body: 1.5rem;


    --header-height: 88px;



   /*  Colores en los item de cada trabajo */
    --color1:#C09BE0;
    --color2: #FD933C;
    --color3: #FE4630;
    --color41: #182834;
    --color42: #FDDB26;
    --color5: #D2FAFA;
    --color6: #FF5D68;
    --numero-de-proyectos-presentados: 10

}

html{
    background: var(--background-black);
    font-size: 62.5%;
    font-family: var(--font-poppins);
    scroll-behavior: smooth;
}

body{
    font-style: normal;
    font-weight: 500;
    font-size: var(--all-18);
    line-height: 2.4rem;
    color: var(--text-color);
}

a{
    text-decoration: none;
    color: var(--just-white);
}
/* a:visited, */
a:focus,
a:hover,
a:active {color: var(--action);}  /* selected link */

ul{
    list-style:none;
}

.paragraph { 
    font-size: var(--all-18);
    line-height: 160.4%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@import "header";
@import"aboutme";
@import"fetch";
@import"icon-menu";
@import"popup";
@import"utils";
@import"main";

@media (max-width: 600px) { /* Menor a 600 */

    :root{

        /* Fuentes y tamaños */
        --font-poppins:'Montserrat', sans-serif;
    
        --bigtitles: 4.8rem;
        --titles: 3.6rem;
        --all-18: 1.6rem;
        --paragraph: 1.4rem;
 
        --card-title: 1.4rem;
        --card-body: 1.3rem;

    }
}