/* 
  Main de index.html
*/

.main{
  --pading-inferior: 4.8rem;
  width: 90%;
  margin: auto;
  padding-bottom: var(--pading-inferior);

  overflow: hidden;
}

.main__logo-container{
  width: 730px;
  height: 208px;
  transform: translateX(24.5px);
  margin:  96px 0;
}

.main__logo-container img{
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.main__logo-image{
  width: 100%;
  height: 100%;
  background-image: url(../assets/svg/logo.svg);
}

@media (max-width: 600px) {  /* Mayor a 600  */
  .main{
    width: 100%;
  }
  .main--margin24{
    --margen-mobile:24px;
    padding: 0 24px;
    margin: auto;
  }
}